*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-color: rgb(191, 181, 167);
}
/* this line for container */
.container{
    max-width: 900px;
    margin: 0 auto;
}
/* this line for apply_box  */
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgb(1,1,1,0.1);
    border-radius: 10px;
}